parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Unsafe usage of new static\(\)#'
            path: src/SimpleCli/Options/Help.php
        -
            message: '#PHPDoc tag @var for variable \$helper has invalid type SimpleCli\\Options\\Help\.#'
            path: src/SimpleCli/SimpleCli.php
        -
            message: '#Call to method displayHelp\(\) on an unknown class SimpleCli\\Options\\Help\.#'
            path: src/SimpleCli/SimpleCli.php
        -
            message: '#Method SimpleCli\\SimpleCli::getAvailableCommands\(\) should return array<string, class-string<SimpleCli\\Command>> but returns array<string, class-string<SimpleCli\\Command>\|false>\.#'
            path: src/SimpleCli/Traits/Commands.php
        -
            message: '#Property Tests\\SimpleCli\\DemoApp\\RestCommand::\$suffixes type has no value type specified in iterable type array\.#'
            path: tests/SimpleCli/DemoApp/RestCommand.php